.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("../assets/mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 4rem;
  color: #1f2721;
}

.outerImgContainer {
  height: 300px;
  display: grid;
  align-items: end;
  border-radius: 0 0 100vw 100vw;
  overflow: hidden;
  filter: drop-shadow(3px 3px 3px black);
}

.imgContainer {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #6d8460;
}

.bitmoji {
  position: relative;
  width: 330px;
  height: auto;
  left: 0;
  top: -45px;
  filter: drop-shadow(3px 3px 5px rgb(0, 0, 0));
}

.textContainer {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  align-items: center;
  text-shadow: 1.5px 1.5px 1px #fcfcfc;
  white-space: nowrap;
}

.chevron {
  position: absolute;
  top: 85%;
  animation: fade 1.75s ease-in-out;
  animation-iteration-count: infinite;
  color: white;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .outerImgContainer {
    margin-bottom: 20px;
  }

  .chevron {
    margin-top: 10px;
  }
}
