.container {
  width: 100%;
  height: 200vh;
  background-color: black;
  color: white;
}

.stickyContainer {
  position: sticky;
  top: 0;
  padding-top: 2rem;
  text-align: center;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.stickyContainer h2 {
  text-shadow: 5px 5px 3px rgb(0, 0, 0);
  position: sticky;
  z-index: 100;
}

.projectContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.codeBg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../assets/codeBG.jpg");
  background-size: cover;
  filter: grayscale();
}

.project {
  width: 40%;
  height: 60%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.realFakeStore {
  background-image: url("../assets/realFakeStore.png");
  animation: grow 2s linear infinite;
  animation-play-state: paused;
  z-index: 1;
}
.watched {
  background-image: url("../assets/watched.png");
  animation: shrink 6s linear infinite;
  animation-play-state: paused;
  z-index: 1;
}

.projectOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.575);
  opacity: 0;
}

.projectOverlay:hover {
  opacity: 1;
}

.project a {
  color: white;
}
.project a:visited {
  color: white;
}

@media (max-width: 1200px) {
  .projectOverlay {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .projectContainer {
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
  }

  .project {
    width: 80%;
    height: 30%;
  }
}
