.container {
  font-size: 1.5rem;
  height: 300vh;
  position: relative;
}

.filler {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background-image: url("../assets/vscode.png");
  background-position: center;
  background-size: cover;
}

.bgFiller {
  width: 100%;
  height: 100%;
  background-image: url("../assets/vscode.png");
  background-position: center;
  background-size: cover;
}

.skillsContainer {
  position: absolute;
  top: 0;
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  overflow-x: hidden;
}

.colorMask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.671);
}

.skillsContainer img {
  filter: drop-shadow(3px 3px 3px rgb(56, 105, 72));
}

.skillsContainer img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@keyframes totalWidth {
  to {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .bgFiller {
    background-position: 0;
  }

  .skillsContainer img {
    width: 90px;
    height: auto;
  }
}
