.container {
  font-size: 1.5rem;
  height: 200vh;
  position: relative;
}

.stickyContainer {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background-image: url("../assets/starrySky.png");
  background-size: cover;
}

.skillsContainer {
  position: absolute;
  top: 0;
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  overflow-x: hidden;
  opacity: 0;
}

.skillsContainer h1 {
  text-shadow: 5px 5px 3px rgb(56, 105, 72);
}

.colorMask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.671);
}

.skillsContainer img {
  filter: drop-shadow(3px 3px 3px rgb(56, 105, 72));
}

.skillsContainer img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.skillRow {
  padding-top: 1rem;
}

@keyframes totalWidth {
  to {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .bgFiller {
    background-position: 0;
  }

  .skillsContainer img {
    width: 4rem;
    height: auto;
  }
}
